spring:
  application:
    name: backend
server:
  port: ${PORT:8080}

openrouter:
  endpoint: https://openrouter.ai/api/v1/chat/completions
  models:
    deepseek: deepseek/deepseek-r1-0528:free
    gpt4: openai/gpt-4o-mini
    claude: anthropic/claude-3.5-sonnet
    gemini: google/gemini-pro-1.5:free
  api-keys:
    deepseek: ${DEEPSEEK_APIKEY}
    gpt4: ${GPT4_APIKEY}
    claude: ${CLAUDE_APIKEY}
    gemini: ${GEMINI_APIKEY}

