spring:
  application:
    name: backend
server:
  port: ${PORT:8080}

openrouter:
  endpoint: https://openrouter.ai/api/v1/chat/completions
  models:
    deepseek: deepseek/deepseek-r1:free
    gpt5: openai/gpt-4o
    grok: x-ai/grok-2-1212
    gemini: google/gemini-2.0-pro-exp-02-05:free
  api-keys:
    deepseek: ${DEEPSEEK_APIKEY}
    gpt5: ${GPT5_APIKEY}
    grok: ${GROK_APIKEY}
    gemini: ${GEMINI_APIKEY}

